	body { font-family: 'Fira Sans Condensed', sans-serif; font-size: 15px; }
	h2 { color: #FFF; margin: 0 0 70px; font-size: 1.6em; text-align: right; text-shadow: 0 0 3px #000; }
	h2 span { color: #FF6A00; }
	h2.top { margin: 0; font-weight: normal; text-align: right; font-size: 1.4em; background: #FF6A00; padding: 24px; color: #FFF; text-shadow: none; }
	h3 { font-size: 2em; margin: 10px 0; }
	h4 { padding: 10px 20px; font-size: 10px; line-height:1.5em; font-weight: 900; }
	h5 { font-size: 1.5em; text-align: left; line-height: 1.5em; }
	
	.logo { padding-right: 30px; }
	.logo img { margin: 35px 0 -34px -15px; }
	.stage { padding: 0; background: #000 url(https://www.foorio.com/assets_leadgen/images/background_winbus.jpg) repeat-x center bottom; background-size: cover; }
	.mask { background: rgba(0,0,0,0.1) url(https://www.foorio.com/assets_leadgen/images/regimental.png) repeat top; background-size: contain; }
	.submask { padding: 30px 15px 40px; }
	.embed-responsive { margin-bottom: 30px; }
	.leads { background: rgba(255,255,255,0.6); padding: 20px 20px 5px; }
	.leads h4 { background: #FF6A00; color: #FFF; font-size: 1.0em; text-align: left; margin: -20px -20px 20px; }
	.countdown { color: #FFF; padding: 15px 20px 10px; font-size: 16px; margin: 0 0 20px; background: rgba(0,0,0,0.3); line-height:1.5em; text-align: center; }
	.black { background: rgba(0,0,0,1); color: #FFF; }
	.dark { background: rgba(0,0,0,0.7); color: #FFF; padding-bottom: 15px; }
	.dark a { color: #FFF; text-decoration: underline; }
	img.feat { padding: 0 20px 20px; max-width: 25%; }
	.box { background: #FF6A00; color: #000; padding: 15px; display: block; margin: 0 -15px -15px; }
	textarea.policy { width: 100%; border: 1px solid #EEE; color: #666; }

	
    @media screen and (max-width: 1200px) {
		h2 { font-size: 1.5em; text-align: center; }
		h2.top { text-align: center; margin: 10px 0 20px; font-size: 1.6em; }
		h4 { font-size: 1em; }
		.logo { text-align: center; }
		.logo img { margin: 20px 0 10px; }
		.dark { margin: 0 15px 20px; }
		img.feat { display: none; }
   }